*
* 	timing template
*
* Iterations (-i) (int) (300) * 	60480
* Natural VCO Frequency (-vf) (float) * 27.0001e+06
* Max network jitter (-j) (float) * 0.125e-3
* Clock ticks per timestamp (-t) (int) * 2700000
