{%- set role = "cassandra" %}
{%- set start = 0 %}
{%- if FLAVOR == "small" %}
{%- set replica_count = 3 %}
{%- elif FLAVOR == "medium" %}
{%- set replica_count = 5 %}
{%- elif FLAVOR == "large" %}
{%- set replica_count = 7 %}
{%- endif %}
{%- if CONTROLLER_TYPE == "statefulset" %}
{% for rep_index in range(start,replica_count) %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ role }}-data{{ rep_index }}-{{ KUBE_NS }}
  namespace: {{ KUBE_NS }}
  labels:
    app: {{ role }}
    pod_num: "{{ rep_index }}"
    comp-group: {{ GROUP_LABEL }}
    namespace: {{ KUBE_NS }}
    type: data
spec:
  storageClassName: manual
  capacity:
    storage: {{ DATA_STORAGE_SIZE }}
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
{% if STORAGE_TYPE == "hostpath" %}
  hostPath:
{% if ANTIAFFINITY == "true" %}
    path: {{ PERSIST_PATH }}/{{ KUBE_NS }}/{{ role }}-data
{% else %}
    path: {{ PERSIST_PATH }}/{{ KUBE_NS }}/{{ role }}-data-{{ rep_index }}
{% endif %}
{% elif STORAGE_TYPE == "nfs" %}
  nfs:
    server: {{ NFS_SERVER }}
    path: /tmp/{{ TENANT }}/{{ KUBE_NS }}/{{ role }}-data-{{ rep_index }}
    readOnly: false
{% endif %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ role }}-commitlog{{ rep_index }}-{{ KUBE_NS }}
  namespace: {{ KUBE_NS }}
  labels:
    app: {{ role }}
    pod_num: "{{ rep_index }}"
    comp-group: {{ GROUP_LABEL }}
    namespace: {{ KUBE_NS }}
    type: commitlog
spec:
  storageClassName: manual
  capacity:
    storage: {{ COMMITLOG_STORAGE_SIZE }}
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
{% if STORAGE_TYPE == "hostpath" %}
  hostPath:
{% if ANTIAFFINITY == "true" %}
    path: {{ PERSIST_PATH }}/{{ KUBE_NS }}/{{ role }}-commitlog
{% else %}
    path: {{ PERSIST_PATH }}/{{ KUBE_NS }}/{{ role }}-commitlog-{{ rep_index }}
{% endif %}
{% elif STORAGE_TYPE == "nfs" %}
  nfs:
    server: {{ NFS_SERVER }}
    path: /tmp/{{ TENANT }}/{{ KUBE_NS }}/{{ role }}-commitlog-{{ rep_index }}
    readOnly: false
{% endif %}
---
{% endfor %}
{% endif %}
