#
# Copyright 2001, QNX Software Systems Ltd. All Rights Reserved
# 
# This source code has been published by QNX Software Systems Ltd. (QSSL).
# However, any use, reproduction, modification, distribution or transfer of
# this software, or any software which includes or is based upon any of this
# code, is only permitted under the terms of the QNX Open Community License
# version 1.0 (see licensing.qnx.com for details) or as otherwise expressly
# authorized by a written license agreement from QSSL. For more information,
# please email licensing@qnx.com.
#
#
#
# NAT rules, the sample network looks like this
#
#
#   box1 (192.0.0.2) <--->  (192.0.0.1) Gateway (10.9.0.1) <---> The whole network 10
#
# The "box1" is internal machine, the "Gateway" is the one running ipfilter.so.
# The "10.9.0.1" is suppose the external internet.
#
# On "Gateway", start io-net like this:
#
#     io-net -d epic -d speedo -p tcpip forward
#     ifconfig en0 10.9.0.1
#     ifconfig en1 192.0.0.1
#     mount -Tio-net ipfilter.so
#
# Now the rules, first NAT rules

map en0 192.0.0.0/8 -> 10.9.0.1/32 proxy port ftp ftp/tcp
map en0 192.0.0.0/8 -> 10.9.0.1/32 portmap tcp/udp 20000:40000 mssclamp 1452
map en0 192.0.0.0/8 -> 10.9.0.1/32

# The first line tells NAT to using the buildin ftp-proxy
#
# The second line tells NAT to mapping any TCP/UDP packet on en0,
# from 192.0.0.0/8 to 10.9.0.1/32 (The "/<num>" is the netmask).
# It also tells NAT map the orignal port into a port range 
# between 20000 - 40000.
# the "mssclamp 1452" is optional, in case your external interface
# has MTU less than 1500 (for example, a ppp0 running pppoe have
# MTU as 1492)
#
# The third line tells NAT mapping any packet if they are not
# matching above 2. This basically make ICMP packet being mapped.

rdr en1 10.9.0.1/32 port 80 -> intra.qnx.com port 80 tcp

# This "rdr" rules, is saying if the internal "box1" try to 
# access gateway's port 80, redirect it to intra.qnx.com

